<?xml version="1.0" encoding="UTF-8"?>
<gobby-config>
  <appearance>
    <chat-userlist-width>150</chat-userlist-width>
    <document-userlist-width>150</document-userlist-width>
    <font>Monospace 10</font>
    <scheme-id>classic</scheme-id>
    <show-browser>1</show-browser>
    <show-chat>1</show-chat>
    <show-chat-userlist>1</show-chat-userlist>
    <show-document-userlist>1</show-document-userlist>
    <show-statusbar>1</show-statusbar>
    <show-toolbar>1</show-toolbar>
    <toolbar-style>2</toolbar-style>
  </appearance>
  <editor>
    <auto-indentation>1</auto-indentation>
    <autosave-enabled>0</autosave-enabled>
    <autosave-interval>10</autosave-interval>
    <smart-homeend>0</smart-homeend>
    <tab-insert-spaces>0</tab-insert-spaces>
    <tab-width>8</tab-width>
  </editor>
  <initial>
    <run>1</run>
  </initial>
  <security>
    <authentication-enabled>1</authentication-enabled>
    <certificate-file>/Users/baileybelisario/.config/gobby/cert.pem</certificate-file>
    <key-file>/Users/baileybelisario/.config/gobby/key.pem</key-file>
    <policy>3</policy>
    <trust-file></trust-file>
  </security>
  <user>
    <allow-remote-access>1</allow-remote-access>
    <alpha>1</alpha>
    <host-directory>/Users/baileybelisario/.config/gobby/local-documents</host-directory>
    <hue>0.65491</hue>
    <keep-local-documents>1</keep-local-documents>
    <name>baileybelisario</name>
    <password></password>
    <port>6523</port>
    <require-password>0</require-password>
    <show-remote-current-lines>1</show-remote-current-lines>
    <show-remote-cursor-positions>1</show-remote-cursor-positions>
    <show-remote-cursors>1</show-remote-cursors>
    <show-remote-selections>1</show-remote-selections>
  </user>
  <view>
    <display-line-numbers>1</display-line-numbers>
    <display-whitespace>0</display-whitespace>
    <highlight-current-line>1</highlight-current-line>
    <highlight-matching-brackets>1</highlight-matching-brackets>
    <margin-display>1</margin-display>
    <margin-position>80</margin-position>
    <wrap-mode>3</wrap-mode>
  </view>
</gobby-config>
